.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

.subtitle {
  line-height: 0px;
  font-size: 140px;
  color: #fff;
}

.container > .time {
  margin-top: 100px;
}

.time {
  display: flex;
  align-items: center;
}

.timeData {
  margin: 0px 70px;
}

.timeData h1 {
  line-height: 0px;
  font-weight: 100;
  font-size: 100px;
}

.timeData h1,
.timeData p {
  color: #fff;
  text-align: center;
}

.vline {
  width: 1px;
  height: 70px;
  background-color: gray;
}

.title {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 4rem;
}

.p {
  color: #fff;
  font-weight: 400;
}
